@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root {
    --primario: #092547;
    --secundario: #093973;
    --terciario: #69A2E7;
    --black: #000000;
    --white: #ffffff;
    --darkGrey: #4f5052;
    --grey: #6895CB;
    --blue: #105dbb;
    --lightGrey: #e6e6e6;
    --naranja: #ffc003;
    --red: #bb3232;
    --verde: #0cc14c;
    --background_radial_1: radial-gradient(circle at 50% 9%, var(--blue) 15%, var(--primario) 70%, var(--secundario) 1000%);
    --background_radial_2: radial-gradient(circle at 46.98% 67.12%, var(--blue) 0, var(--secundario) 50%, var(--primario) 100%);
    --background_linear_1: linear-gradient(var(--blue), 40%, var(--secundario), var(--blue));
    --background_linear_2: linear-gradient(var(--primario), 40%, var(--secundario), var(--primario));
    --background_linear_3: linear-gradient(var(--blue), 40%, var(--terciario), var(--blue));
    --background_linear_4: linear-gradient(var(--primario), 40%, var(--blue), var(--primario));
}