@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root {
    --primario: #092547;
    --secundario: #093973;
    --terciario: #69A2E7;

    --black: #000000;
    --white: #ffffff;

    --darkGrey: #6e6e6e;
    --grey: #6895CB;
    --blue: #105dbb;
    --lightGrey: #e6e6e6;
    --naranja: #ffc003;
    --red: #bb3232;
    --verde: #0cc14c;

    --background_radial_1: radial-gradient(circle at 50% 9%, var(--blue) 15%, var(--primario) 70%, var(--secundario) 1000%);
    --background_radial_2: radial-gradient(circle at 46.98% 67.12%, var(--blue) 0, var(--secundario) 50%, var(--primario) 100%);

    --background_linear_1: linear-gradient(var(--blue), 40%, var(--secundario), var(--blue));
    --background_linear_2: linear-gradient(var(--primario), 40%, var(--secundario), var(--primario));
    --background_linear_3: linear-gradient(var(--blue), 40%, var(--terciario), var(--blue));
    --background_linear_4: linear-gradient(var(--primario), 40%, var(--blue), var(--primario));
}

body{
    margin: 0;
    padding: 0;
    min-width: 360px;
    /* background-color: var(--grey); */
}
*::-webkit-scrollbar{
    display: none;
}
.navCont{
    width: 100%;
    height: 62px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
}
.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 10px;
    border-bottom: 1px solid var(--verde);
    background-color: var(--secundario);
    z-index: 1;
}
.imgCont{
    margin: 0;
    height: 50px;
}
.logo{
    height: 100%;
}
.listIndex {
    width: 320px;
    max-height: 665px;
    height: 85%;
    position: fixed;
    top: 62px;
    right: -365px;
    z-index: 1;
    padding: 20px 20px;
    overflow-y: scroll;
    background: var(--background_linear_2);
    box-shadow: 1px 1px 10px rgba(0,0,0, .5);
    transition: 600ms ease-in-out;
}
.listIndexShow {
    right: 0px;
    transition: 600ms ease-in-out;
}

.cal{
    color: var(--white);
}
.optTitle{
    width: auto;
    font-size: 18px;
    color: var(--verde);
    padding-right: 5px;
    margin-bottom: 0px;
}
.optLine {
    margin: 10px 0px 10px 0px;
    width: 100%;
    border-bottom: 1px solid var(--verde);
}
.textMenu{
    display: none;
}
.menuMobile{
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.line{
    width: 20px;
    height: 3px;
    background-color: white;
}
.cross{
    transform: translateY(-4px) rotate(45deg);
}
.cross2{
    transform: translateY(4px) rotate(-45deg);
}
.cross3{
    display: none;
}

.sel,
.mbl{
    color: var(--naranja);
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    cursor: pointer;
}
.mbl:active{
    color: var(--white);
}
.seleccion {
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    padding: 8px 0px;
    margin: 0px 30px;
    color: var(--terciario);
    border-bottom: 1px solid var(--secundario);
}
.seleccion:active {
    color: var(--lightGrey);
    border-bottom: 1px solid var(--lightGrey);
}
.sel{
    color: var(--naranja);
}
.menuDesktop{
    display: none;
    background-color: var(--secundario);
}
.calCont{
    position: relative;
}
.calcDesktop{
    position: absolute;
    top: -360px;
    left: -30px;
    background-color: var(--secundario);
    transition: 600ms ease-in-out;
    padding: 20px 0px;
    box-shadow: 1px 1px 10px rgba(0,0,0, .5);
    z-index: -1;
}
.calcDesktopShow{
    top: 43px;
    transition: 600ms ease-in-out;
}

@media screen and (min-width: 700px) {
    .listIndex{
        display: none;
    }
    .textFiguras{
        display: none;
    }
    .menuDesktop{
        width: 100%;
        display: flex;
        justify-content:left;
        align-items: center;
        gap: 20px;
        padding-left: 50px;
    }
    .menuMobile{
        display: none;
    }
    .textMenu{
        display: block;
    }
}