body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: var(--background_linear_3);
    position: relative;
    min-width: 360px;
    min-height: 100vh;
}
*::-webkit-scrollbar {
    display: none;
}
/* ################ blur #################### */
.noMove {
    overflow: hidden;
}
.blurC {
    position:fixed;
    top: 61px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color:  rgba(0, 0, 0, 0.5);
    transition: 600ms ease-in-out;
}
.off {
    display: none;
    transition: 600ms ease-in-out;
}
/* ############### navbar #################### */
.navCont{
    width: 100%;
    height: 62px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
}
.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 10px;
    border-bottom: 2px solid var(--naranja);
    background-color: var(--secundario);
    z-index: 1;
}
.imgCont{
    margin: 0;
    height: 50px;
}
.logo{
    height: 100%;
}
.menuMobile{
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.line{
    width: 20px;
    height: 3px;
    background-color: white;
}
.cross{
    transform: translateY(-4px) rotate(45deg);
}
.cross2{
    transform: translateY(4px) rotate(-45deg);
}
.cross3{
    display: none;
}
.listIndex {
    width: 300px;
    max-height: 665px;
    height: 85%;
    position: fixed;
    top: 62px;
    right: -365px;
    z-index: -1;
    padding: 20px 30px;
    overflow-y: scroll;
    background: var(--background_linear_2);
    box-shadow: 1px 1px 10px rgba(0,0,0, .5);
    transition: 600ms ease-in-out;
}
.listIndexShow {
    right: 0px;
    transition: 600ms ease-in-out;
}
/* --- Seleccion --- */
.estText{
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    padding: 8px 0px;
}
.estText2{
    font-size: 18px;
    font-weight: 700;
    padding: 8px 0px;
}
.colText1{
    color: var(--naranja);
    border-bottom: 1px solid var(--terciario);
    margin: 0px 30px;
}
.colText1:active{
    color: var(--white);
    border-bottom: 1px solid var(--white);
}
.colText2{
    color: var(--terciario);
    border-bottom: 1px solid var(--terciario);
    margin: 0px 30px;
}
.colText2:active{
    color: var(--white);
    border-bottom: 1px solid var(--white);
}
.colText3{
    color: var(--naranja);
    margin: 0px 5px;
}
.colText3:active{
    color: var(--white);
}
.colText4{
    color: var(--verde);
    margin: 10px 27px 0px 27px;
}
/* ---Division --- */
.listIndexOption{
    display: flex;
    padding: 0px;
    margin: 0;
}
.optTitle{
    width: auto;
    font-size: 18px;
    color: var(--verde);
    padding-right: 5px;
    margin-bottom: 0px;
}
.optLine {
    margin: 10px 0px;
    width: 100%;
    border-bottom: 1px solid var(--verde);
}
/* --- menu desktop --- */
.menuDesktop{
    display: none;
    background-color: var(--secundario);
}
.textContainer{
    width: 160px;
}
.calCont{
    position: relative;
}
.calcDesktop{
    width: 178px;
    position: absolute;
    top: -400px;
    left: -30px;
    background-color: var(--secundario);
    transition: 600ms ease-in-out;
    padding: 20px 0px;
    box-shadow: 1px 1px 10px rgba(0,0,0, .5);
    z-index: -1;
}
.calcDesktopShow{
    top: 50px;
    transition: 600ms ease-in-out;
}
.contacCont{
    position: relative;
}
.contDesktop{
    width: 178px;
    position: absolute;
    top: -260px;
    left: -30px;
    background-color: var(--secundario);
    transition: 600ms ease-in-out;
    padding: 20px 0px;
    box-shadow: 1px 1px 10px rgba(0,0,0, .5);
    z-index: -1;
}
.contDesktopShow{
    top: 50px;
    transition: 600ms ease-in-out;
}
.socMedDesktop{
    display: flex;
    justify-content: center;
}
.textMenu{
    display: none;
}
/* ############### contentIndex ############## */
.contentIndex {
    padding-top: 61px;
}
.titlesIndex{
    text-align: center;
}
.titlesIndex p {
    font-size: 26px;
    font-weight: bold;
    color: var(--lightGrey);
    padding: 10px 0px;
    margin: 0px;
    margin: 0px 20px;
    border-bottom: 2px solid var(--lightGrey);
}
.socMedMainCont {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 0px;
}
.socialMedCont{
    width: 100%;
}
.socMediconsCont{
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
}
.smImg{
    height: 48px;
    filter: invert(61%) sepia(8%) saturate(2455%) hue-rotate(173deg) brightness(92%) contrast(81%);
}
.smImg:active{
    filter: invert(88%) sepia(1%) saturate(523%) hue-rotate(88deg) brightness(112%) contrast(93%);
}
.containerIntro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    min-width: 340px;
    padding: 10px 10px 71px 10px;
    align-items: center;
}
.defParrafo {
    display: flex;
    flex-direction: column;
    max-width: 1000px ;
    min-width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    padding: 10px;
    background-color: var(--white);
}
.tituloIntro {
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    font-weight: bold;
    padding: 10px 0px 5px 0px;
    margin: 0px;
    color: var(--black);
}
.defIntro {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    line-height: 25px;
    padding: 10px;
    margin: 0px;
}
.btnImg {
    padding: 3px 10px 3px 10px;
    font-size: 18px;
    font-weight: 700;
    color: var(--naranja);
    border-radius: 8px;
    margin: 0px;
}
.defT {
    font-size: 24px;
    font-weight: bold;
    margin: 0px;
    color: var(--black);
}
.defC {
    border-radius: 10px;
    padding: 10px;
    background-color: var(--white);
    color: var(--black);
}
.formulaSpan {
    color: var(--blue);
}
.tipoSpan {
    color: var(--blue);
}
/* ############# containerResponsive #############  */
.containerResponsive {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    min-width: 340px;
    padding: 20px 10px 30px 10px;
}
.simpleDirectaImg,
.containerImage2 {
    background-image: var(--background_radial_2);
    border-radius: 10px;
    width: 340px;
    height: 383px;
}
.titleFig {
    color: var(--naranja);
    text-align: center;
}
.simpleDirectaImg img {
    width: 340px;
}
/* .perimeterArea {
    display: flex;
    flex-direction: row;
    gap: 10px;
} */
.containerFormules {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--background_radial_2);
    width: 300px;
    height: 343px;
    border-radius: 10px;
    padding: 20px;
}
.sectionPCtop {
    text-align: center;
}
.sectionPCmiddleTop {
    display: flex;
    justify-content: center;
}
.sectionPCmiddleS {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    max-width: 100%;
}
.sectionPCmiddleC {
    display: grid;
    row-gap: 5px;
    grid-template-rows: 34px 34px;
    grid-template-columns: 100px 100px 100px;
    max-width: 100%;
}
.sectionPCmiddleDesc {
    display: flex;
    gap: 20px;
    justify-content: center;
}
.messageDiscount{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid var(--naranja);
    border-radius: 10px;
    padding: 10px;
    width: 278px; 
    height: 30px;
    margin: 5px 0px 0px 0px;
    background-color: var(--darkGrey);
    color: var(--naranja);
    margin: 0px;
    font-weight: 700;
    font-size: 18px; 
}
.containerWindows {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 270px;
    padding: 5px 15px;
    border-radius: 10px;
    border: 1px solid var(--naranja);
}
.pcRow {
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 5px;
}
.pcRow label {
    font-size: 18px;
    color: var(--white);
}
.porcDescWindow {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 50px;
    height: 25px;
}
.desWindows {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 120px;
    height: 25px;
}
.greenBG {
    color: var(--white);
    background-color: var(--background_linear_1);
}
.whiteBG {
    color: var(--black);
    background-color: var(--white);
}
.titlesFormules {
    font-size: 24px;
    font-weight: 700;
    margin: 0px;
    color: var(--white);
    text-align: center;
    padding: 0px 0px 0px 0px;
    color: var(--naranja);
}
.titleImg {
    padding: 20px 20px;
}
.textFormule {
    font-size: 20px;
    color: var(--naranja);
    font-weight: 700;
    margin: 0px;
}
.divRadioPC {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 8px;
}
.divRadioPC label {
    color: var(--white);
    padding-right: 30px;
}
.colSty {
    display: flex;
    justify-content: center;
    width: 68px;
    gap: 3px;
    margin: 0px 10px 10px 22px;
}
.rowSty{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rowSty label{
    color: var(--white);
    margin-bottom: 3px;
}
.winStyle {
    background-color: var(--darkGrey);
    border: 1px solid var(--naranja);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    width: 278px; 
    height: 30px;
    color: var(--naranja);
    font-weight: 700;
    font-size: 18px;
}
.bgChange{
    background-color: var(--lightGrey);
    color: var(--black);
    border: 1px solid var(--blue);

}
.btnClear,
.btnResult {
    width: 145px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid var(--naranja);
    background: var(--background_linear_1);
    color: var(--naranja);
    font-size: 18px;
    font-weight: 700;
}
.btnClear{
    margin-right: 10px;
}
.btnClear:hover,
.btnResult:hover {
    cursor: pointer;
    background-color: var(--terciario);
    border: 1px solid var(--white);
    color: var(--white);
}
.btnInactive {
    width: 145px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid var(--blue);
    background: var(--secundario);
    color: var(--blue);
    font-size: 18px;
    font-weight: 700;
}
.winPosDirInv {
    display: flex;
    gap: 5px;
    justify-content:center;
    align-items: center;
}
.winPosDesc {
    display: flex;
    flex-direction: column;
}
.winPosDesc label,
.winPosDirInv label {
    color: var(--white);
}
.winPosDesc label{
    text-align: center;
    margin-bottom: 10px;
}
.infoDesc {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    padding: 3px;
}
.infoDesc p {
    margin: 0px 0px 10px 0px;
}
.inputStyle {
    background-color: var(--white);
    text-align: center;
    width: 70px;
    height: 25px;
    font-weight: 700;
}
.resultColor {
    background-color: var(--naranja);
}
/* ------ PerimeterSquare ------ */
/* -------- AreaSquare --------- */
.blurC {
    position:fixed;
    top: 61px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color:  rgba(0, 0, 0, 0.5);
    transition: 600ms ease-in-out;
}
.noMove {
    overflow: hidden;
}
.off {
    display: none;
    transition: 600ms ease-in-out;
}
.footer {
    position: absolute;
    left: 0px;
    bottom:0px;
    width: 100%;
    height: 60px;
    background-color: var(--secundario);
}
/* @media screen and (max-width: 1060px) {
    .containerResponsive {
        flex-direction: column;
        align-items: center;
        padding: 20px 10px 81px 10px;
    }
    .containerIntro {
        flex-direction: column;
        padding: 20px 10px 81px 10px;
        align-items: center;
    }
    .perimetroYArea {
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (min-width: 425px) {
    .listIndex {
        width: 300px; 
    }
} */
