body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: var(--background_linear_3);
    position: relative;
    min-width: 360px;
    min-height: 100vh;
}
*::-webkit-scrollbar {
    display: none;
}
/* ################ blur #################### */
.noMove {
    overflow: hidden;
}
.blurC {
    position:fixed;
    top: 61px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color:  rgba(0, 0, 0, 0.5);
    transition: 600ms ease-in-out;
}
.off {
    display: none;
    transition: 600ms ease-in-out;
}
/* ############### navbar #################### */
.navCont{
    width: 100%;
    height: 62px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
}
.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 10px;
    border-bottom: 2px solid var(--naranja);
    background-color: var(--secundario);
    z-index: 1;
}
.imgCont{
    margin: 0;
    height: 50px;
}
.logo{
    height: 100%;
}
.menuMobile{
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.line{
    width: 20px;
    height: 3px;
    background-color: white;
}
.cross{
    transform: translateY(-4px) rotate(45deg);
}
.cross2{
    transform: translateY(4px) rotate(-45deg);
}
.cross3{
    display: none;
}
.listIndex {
    width: 300px;
    max-height: 665px;
    height: 85%;
    position: fixed;
    top: 62px;
    right: -365px;
    z-index: -1;
    padding: 20px 30px;
    overflow-y: scroll;
    background: var(--background_linear_2);
    box-shadow: 1px 1px 10px rgba(0,0,0, .5);
    transition: 600ms ease-in-out;
}
.listIndexShow {
    right: 0px;
    transition: 600ms ease-in-out;
}
/* --- Seleccion --- */
.estText{
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    padding: 8px 0px;
}
.estText2{
    font-size: 18px;
    font-weight: 700;
    padding: 8px 0px;
}
.colText1{
    color: var(--naranja);
    border-bottom: 1px solid var(--terciario);
    margin: 0px 30px;
}
.colText1:active{
    color: var(--white);
    border-bottom: 1px solid var(--white);
}
.colText2{
    color: var(--terciario);
    border-bottom: 1px solid var(--terciario);
    margin: 0px 30px;
}
.colText2:active{
    color: var(--white);
    border-bottom: 1px solid var(--white);
}
.colText3{
    color: var(--naranja);
    margin: 0px 5px;
}
.colText3:active{
    color: var(--white);
}
.colText4{
    color: var(--verde);
    margin: 10px 27px 0px 27px;
}
/* ---Division --- */
.listIndexOption{
    display: flex;
    padding: 0px;
    margin: 0;
}
.optTitle{
    width: auto;
    font-size: 18px;
    color: var(--verde);
    padding-right: 5px;
    margin-bottom: 0px;
}
.optLine {
    margin: 10px 0px;
    width: 100%;
    border-bottom: 1px solid var(--verde);
}
.divTitle{
    width: auto;
    font-size: 18px;
    color: var(--white);
    padding: 0px 10px;
    margin-bottom: 0px;
}
.divLine {
    margin: 10px 0px;
    width: 100%;
    border-bottom: 2px dotted var(--white);
}
.calDeskFormat{
    width: 300px;
    padding: 10px;
}
.listIndexOptionCal{
    padding: 0px;
}
/* --- menu desktop --- */
.menuDesktop{
    display: none;
    background-color: var(--secundario);
}
.textContainer{
    width: 160px;
}
.calCont{
    position: relative;
}
.calcDesktop{
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    position: absolute;
    top: -430px;
    left: -270px;
    background-color: var(--secundario);
    transition: 600ms ease-in-out;
    padding: 20px 0px;
    box-shadow: 1px 1px 10px rgba(0,0,0, .5);
    z-index: -1;
}
.calcDesktopShow{
    top: 30px;
    transition: 600ms ease-in-out;
}
.contacCont{
    position: relative;
}
.contDesktop{
    width: 300px;
    position: absolute;
    top: -140px;
    left: -90px;
    background-color: var(--secundario);
    transition: 600ms ease-in-out;
    padding: 20px 0px;
    box-shadow: 1px 1px 10px rgba(0,0,0, .5);
    z-index: -1;
}
.contDesktopShow{
    top: 50px;
    transition: 600ms ease-in-out;
}
.socMedDesktop{
    display: flex;
    justify-content: center;
}
.textMenu{
    display: none;
}
/* ############### contentIndex ############## */
.contentIndex {
    padding-top: 61px;
}
.titlesIndex{
    text-align: center;
}
.titlesIndex p {
    font-size: 26px;
    font-weight: bold;
    color: var(--lightGrey);
    padding: 10px 0px;
    margin: 0px;
    margin: 0px 20px;
    border-bottom: 2px solid var(--lightGrey);
}
.socMedMainCont {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 0px;
}
.socialMedCont{
    width: 100%;
}
.socMediconsCont{
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
}
.smImg{
    height: 48px;
    filter: invert(61%) sepia(8%) saturate(2455%) hue-rotate(173deg) brightness(92%) contrast(81%);
}
.smImg:active{
    filter: invert(88%) sepia(1%) saturate(523%) hue-rotate(88deg) brightness(112%) contrast(93%);
}
.containerIntro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    min-width: 340px;
    padding: 10px 10px 71px 10px;
    align-items: center;
}
.defParrafo {
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 1000px ;
    min-width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    padding: 10px;
    background-color: var(--white);
}
.tituloIntro {
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    font-weight: bold;
    padding: 10px 0px 5px 0px;
    margin: 0px;
    color: var(--black);
}
.defIntro {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    line-height: 25px;
    padding: 10px;
    margin: 0px;
}
.formulaSpan{
    font-size: 22px;
    color: var(--blue);
}
/* ########## containerResponsive #########  */
.containerResponsive {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr) );
    gap: 10px;
    margin: 0 auto;
    max-width: 1020px;
    padding: 10px 10px 71px 10px;
}
/* === bloque 1 === */
.titleFigCl{
    color: var(--white);
    text-align: center;
}
.tituloImgCl{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tituloImgCl img {
    width: 340px;
    height: auto;
}
.tituloImgContCl {
    width: 100%;
    height: 390px;
    background-image: var(--background_radial_2);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 1);
    border-radius: 10px;
}
/*================ */
/* === bloque 2 === */
.calcTitleCl {
    font-size: 24px;
    font-weight: 700;
    margin-top: 0px;
    color: var(--black);
    margin: 0px;
}
.calSubTitleCl {
    font-size: 20px;
    color: var(--black);
    font-weight: 700;
    margin: 0px 0px;
}
.secTopCalcCl {
    text-align: center;
}
.radioLabelsContCl {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 8px;
}
.radioLabelsContCl label {
    font-size: 18px;
    font-weight: 500;
    color: var(--black);
    padding-right: 30px;
}
.radioLabelsContCl label:hover,
.radioLabelsContCl input:hover {
    cursor: pointer;
}



.windLabelContCl {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.windLabelContCl label {
    color: var(--black);
    margin-left: 20px;
    font-weight: bold;
}
.inputStyleCl {
    background-color: var(--white);
    text-align: center;
    width: 60px;
    height: 25px;
    font-weight: 700;
    margin-right: 30px;
    border: 1px solid rgba(0,0,0,0.3);
}
.labelResult{
    color: var(--black);
    margin: 0px 0px 0px 20px;
    font-weight: bold;
}
.winOutput{
    background-color: var(--white);
    text-align: center;
    width: 150px;
    height: 30px;
    font-weight: 700;
    margin: 0px 20px 0px 0px;
    border: 1px solid rgba(0,0,0,0.3);
}

.resultColor {
    background-color: var(--lightGrey);
    color: var(--darkGrey);
}
.winStyleCl {
    background-color: var(--lightGrey);
    border: 1px solid var(--darkGrey);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 298px;
    height: 50px;
    color: var(--darkGrey);
    font-weight: 700;
    font-size: 18px;
}
.bgChange{
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--blue);
}
.btnClearCl,
.btnResultCl {
    cursor: pointer;
    width: 145px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid var(--naranja);
    background: var(--background_linear_1);
    color: var(--naranja);
    font-size: 18px;
    font-weight: 700;
}
.btnClearCl{
    margin-right: 10px;
}
.btnClearCl:active,
.btnResultCl:active {
    background-color: var(--terciario);
    border: 1px solid var(--white);
    color: var(--white);
}
.btnInactive {
    width: 145px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid var(--blue);
    background: var(--secundario);
    color: var(--blue);
    font-size: 18px;
    font-weight: 700;
}
.secMiddleCalcCl {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.secMiddleResultsCl {
    padding: 10px 0px;
    margin: 10px 0px;
    border: 1px solid var(--lightGrey);
    border-radius: 8px;
    width: 296px;
    display: flex;
    flex-direction: column;
    gap: 5px; 
}
.calCl {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 350px;
}
.CalcContCl {
    width: 100%;
    height: 390px;
    border-radius: 10px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 1);
    background-color: rgb(192, 192, 192);
}
/* ################# footer ################# */
.footer {
    position: absolute;
    left: 0px;
    bottom:0px;
    width: 100%;
    height: 60px;
    background-color: var(--secundario);
    z-index: -2;
}
/* ############## media queries ############## */
@media screen and (min-width: 830px) {
    .listIndex{
        display: none;
    }
    .textFiguras{
        display: none;
    }
    .menuDesktop{
        width: 100%;
        display: flex;
        justify-content:left;
        align-items: center;
        gap: 20px;
        padding-left: 50px;
    }
    .menuMobile{
        display: none;
    }
    .textMenu{
        display: block;
    }
    .socMediconsCont{
        width: 300px;
        justify-content: center;
        column-gap: 20px;
        gap: 5px;
        padding: 0px;
    }
}